openapi: 3.0.0
info:
  title: Mapped Repair Events API
  description: API documentation for the mapped repair events API. Request a token at reparieren@anstiftung.de. Authenticated API requests are rate limited to 60 requests per minute per API token and API type.
  version: v1

servers:
  - url: https://www.reparatur-initiativen.de/api
    description: Production server
  - url: https://test.reparatur-initiativen.de/api
    description: Test server
  - url: http://mapped-repair-events.test:8113/api
    description: Dev server

paths:
  /v1/workshops:
    get:
      tags:
      - "workshops"
      summary: "returns a list of workshops"
      security:
        - bearerAuth: []
      parameters:
      - name: "city"
        in: "query"
        description: "city (e.g. berlin), case insensitve, finds any workshops who are located in the given city"
        required: true
        schema:
            type: string
            minLength: 3
      responses:
        '200':
          description: A list of workshops
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workshop'
        '400':
          description: city not passed or invalid (min 3 chars)
        '401':
          description: API token is required or invalid
        '404':
          description: no workshops found
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
  /v1/statistics:
    get:
      tags:
      - "statistics"
      summary: "returns aggregated repair statistics"
      description: "Returns aggregated repair outcome counts, environmental footprint values in tons, initiative counts, and alphabetically sorted category statistics. Either city or province must be provided; do not combine them in one request."
      security:
        - bearerAuth: []
      parameters:
      - name: "city"
        in: "query"
        description: "City filter. Either city or province must be provided. If present, the token must allow this search term. Do not combine with province."
        required: false
        schema:
          type: string
      - name: "province"
        in: "query"
        description: "State filter. Either city or province must be provided. If present, the token must allow this search term. Do not combine with city."
        required: false
        schema:
          type: string
      - name: "dateFrom"
        in: "query"
        description: "Optional start date filter for event dates, formatted as yyyy-mm-dd."
        required: false
        schema:
          type: string
          format: date
      - name: "dateTo"
        in: "query"
        description: "Optional end date filter for event dates, formatted as yyyy-mm-dd."
        required: false
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Aggregated statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatisticsResponse'
              example:
                statistics:
                  filters:
                    city: Berlin
                    province: null
                    dateFrom: null
                    dateTo: null
                  counts:
                    repaired: 8
                    repairable: 0
                    notRepaired: 0
                    total: 8
                  environmentalImpact:
                    carbonFootprint: 0.048
                    materialFootprint: 0.072
                  initiativeCount: 1
                  categories:
                    - label: "3D-Reparatur"
                      counts:
                        repaired: 4
                        repairable: 0
                        notRepaired: 0
                        total: 4
                      environmentalImpact:
                        carbonFootprint: 0.036
                        materialFootprint: 0.048
                      initiativeCount: 1
                    - label: Elektro
                      counts:
                        repaired: 4
                        repairable: 0
                        notRepaired: 0
                        total: 4
                      environmentalImpact:
                        carbonFootprint: 0.012
                        materialFootprint: 0.024
                      initiativeCount: 1
        '400':
          description: city or province must be provided, or provided dateFrom/dateTo must be valid dates
        '401':
          description: API token is required, invalid, inactive, wrong type, wrong domain, or not allowed for the requested city/province
        '404':
          description: province not found
        '429':
          $ref: '#/components/responses/RateLimitExceeded'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication. Request a token at reparieren@anstiftung.de
  responses:
    RateLimitExceeded:
      description: Rate limit exceeded. Wait for the retry window before sending another request.
      headers:
        Retry-After:
          description: Seconds to wait before retrying.
          schema:
            type: integer
            example: 60
        X-RateLimit-Limit:
          description: Maximum requests allowed in the current rate-limit window.
          schema:
            type: integer
            example: 60
        X-RateLimit-Remaining:
          description: Requests remaining in the current rate-limit window.
          schema:
            type: integer
            example: 0
        X-RateLimit-Reset:
          description: Unix timestamp when the current rate-limit window resets.
          schema:
            type: integer
            example: 1714820000
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: rate limit exceeded
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
      required:
        - error
    Workshop:
      type: "object"
      properties:
        id:
          type: "integer"
          format: "int32"
        name:
          type: "string"
        city:
          type: "string"
        postalCode:
          type: "string"
        street:
          type: "string"
        street2:
          type: "string"
        coordinates:
          type: "object"
          properties:
            lat:
              type: "number"
              format: "double"
            lng:
              type: "number"
              format: "double"
        landingPage:
          type: "string"
        logoUrl:
          type: "string"
          format: "uri"
        category:
          $ref: "#/components/schemas/Category"
        nextEvent:
          type: "string"
          format: "date"
          description: "Next event date, formatted as yyyy-mm-dd."
          nullable: true
    Category:
      type: "object"
      properties:
        id:
          type: "integer"
          format: "int32"
        label:
          type: "string"
        iconUrl:
          type: "string"
          format: "uri"
    StatisticsResponse:
      type: object
      properties:
        statistics:
          $ref: "#/components/schemas/Statistics"
      required:
        - statistics
    Statistics:
      type: object
      properties:
        filters:
          $ref: "#/components/schemas/StatisticsFilters"
        counts:
          $ref: "#/components/schemas/StatisticsCounts"
        environmentalImpact:
          $ref: "#/components/schemas/StatisticsEnvironmentalImpact"
        initiativeCount:
          type: integer
          format: int32
          description: "Number of initiatives involved."
        categories:
          type: array
          description: "Category statistics, sorted alphabetically by label."
          items:
            $ref: "#/components/schemas/StatisticsCategory"
      required:
        - filters
        - counts
        - environmentalImpact
        - initiativeCount
        - categories
    StatisticsFilters:
      type: object
      properties:
        city:
          type: string
          nullable: true
          minLength: 3
        province:
          type: string
          nullable: true
          minLength: 3
        dateFrom:
          type: string
          format: date
          description: "Applied start date filter, formatted as yyyy-mm-dd."
          nullable: true
        dateTo:
          type: string
          format: date
          description: "Applied end date filter, formatted as yyyy-mm-dd."
          nullable: true
      required:
        - city
        - province
        - dateFrom
        - dateTo
    StatisticsCounts:
      type: object
      properties:
        repaired:
          type: integer
          format: int32
        repairable:
          type: integer
          format: int32
        notRepaired:
          type: integer
          format: int32
        total:
          type: integer
          format: int32
      required:
        - repaired
        - repairable
        - notRepaired
        - total
    StatisticsEnvironmentalImpact:
      type: object
      properties:
        carbonFootprint:
          type: number
          format: double
          description: "Saved carbon footprint in tons."
        materialFootprint:
          type: number
          format: double
          description: "Saved material footprint in tons."
      required:
        - carbonFootprint
        - materialFootprint
    StatisticsCategory:
      type: object
      properties:
        label:
          type: string
        counts:
          $ref: "#/components/schemas/StatisticsCounts"
        environmentalImpact:
          $ref: "#/components/schemas/StatisticsEnvironmentalImpact"
        initiativeCount:
          type: integer
          format: int32
      required:
        - label
        - counts
        - environmentalImpact
        - initiativeCount
