openapi: 3.0.0
info:
  title: API docs
  description: API documentation for the reparatur-initiativen.de API - mapped repair events platform
  version: v1

servers:
  - url: https://www.reparatur-initiativen.de/api/v1/rest
    description: Production server
  - url: https://test.reparatur-initiativen.de/api/v1/rest
    description: Test server

paths:
  /workshops/city/{city}:
    get:
      tags:
      - "workshops"
      summary: "returns a list of workshops in a city"
      parameters:
      - name: "city"
        in: "path"
        description: "city name (e.g. Berlin), case insensitve"
        required: true
        schema:
            type: string
            minLength: 3
      responses:
        '200':
          description: A list of workshops
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workshop'

components:
  schemas:
    Workshop:
      type: "object"
      properties:
        id:
          type: "integer"
          format: "int32"
        name:
          type: "string"
        city:
          type: "string"
        postalCode:
          type: "string"
        street:
          type: "string"
        street2:
          type: "string"
        coordinates:
          type: "object"
          properties:
            lat:
              type: "number"
              format: "double"
            lng:
              type: "number"
              format: "double"
        landingPage:
          type: "string"
        logoUrl:
          type: "string"
        category:
          $ref: "#/components/schemas/Category"
    Category:
      type: "object"
      properties:
        id:
          type: "integer"
          format: "int32"
        label:
          type: "string"
        iconUrl:
          type: "string"